*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary:#b6b6b6;
    --text-secondary:#ececec;
    --bg-primary:#23232e;
    --bg-secondary:#141418;
}

body{
    transition: all linear 0.5s;
    font-family: 'Montserrat';
}


body::-webkit-scrollbar{
    width: 0.5rem;

}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #ff8000;
    border-radius: 0.2rem;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #ffffff;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #ff8000;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

.navbar{
    background-color: rgba(0, 0, 0, 0.116);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    backdrop-filter: blur(1px);
}

header{
    width: 100%;
    height: 100vh;
    background: url(../img/header.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box; 
    color: #fff;

}

.nav-link , .navbar-text{
    color: #fff;
    transition: all linear 0.5s;
}

header h1{
    margin-top: 20rem;
}

.button{
    display: block;
    text-decoration: none;
    color: #fff;
    transition: all linear 0.5s;
    border: 1px solid #fff;
    width: 8rem;
    margin: 1rem auto;
    padding: 0.3rem 0;
    border-radius: 0.9rem;
}

.button:hover{
    border: 1px solid #fff;
    color:#fff;
    backdrop-filter: blur(2px);
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 0px 0px 14px 6px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 0px 0px 14px 6px rgba(0,0,0,0);
}

section{
    padding: 3rem 0;
}

section h2{
    text-align: center;
}


.img-area{
    width: 100%;
    height: auto;
}

.box{
    transition: all linear 0.5s;
    padding: 0.2rem;
}

.box:hover{
    transition: all linear 0.5s;
}

.box img{
    transition: all linear 0.5s;
    width: 100%;
    border-radius: 1rem;
}

.box img:hover{
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 0px 0px 14px 6px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 0px 0px 14px 6px rgba(0,0,0,0);
}

.main-carousel .box img{
    border-radius: 0;
}

.main-carousel {
    margin: 1rem 0;
}


/* .img-area::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 0.2rem;
    left: 0;
    opacity: 1;
    transition: all linear 0.5s;
    background: rgba(46, 15, 15, 0.007);
} */

.img-area:hover:before{
    opacity: 1;
    transition: all linear 0.5s;
}


.header-cities{
    width: 100%;
    height: 60vh;
    color: var(--text-secondary);
}

.header-cities h1{
    margin-bottom:auto ;
}

.city a{
    display: block;
    text-align: center;
    color:black;
    text-decoration: none;
    transition: all linear 0.5s;
}

.city a:hover{
    transition: all linear 0.5s;
    transform: scale(1.05);
}


.nukus-header{
    background: url(../img/nukus/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.tash-header{
    background: url(../img/tashkent/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.sam-header{
    background: url(../img/sam/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.muynak-header{
    background: url(../img/muynak/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.khiva-header{
    background: url(../img/khiva/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.navoi-header{
    background: url(../img/navoi/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.bukh-header{
    background: url(../img/bukhara/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.zaamin-header{
    background: url(../img/zaamin/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.gulistan-header{
    background: url(../img/gulistan/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}


.shahri-header{
    background: url(../img/shahrisabz/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.termez-header{
    background: url(../img/termez/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.namangan-header{
    background: url(../img/namangan/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.karshi-header{
    background: url(../img/karshi/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.kokand-header{
    background: url(../img/kokand/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.andijan-header{
    background: url(../img/andijan/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

.fergana-header{
    background: url(../img/fergana/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
}

main > .container > .row > h2{
    margin: 1rem 0;
    text-align: center;
}

main > .container > .row > p ,
main > .container > .row > span{
    text-align: center;
    color: var(--bg-primary);
    font-size: 1.1rem;
    margin: 1rem 0;
}

main > .container > .row > .img-fluid{
    border-radius: 50px;
}

.map iframe{
    width: 100%;
    height: 30rem;
    margin: 1rem auto;
    border-radius: 1rem;
}

@media (min-width: 576px) {
    .header-cities{
        height: 70vh;
    }
 }